doctype html
head
    title(id='landingpage')= data.title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/css/landingpage.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

body(class="w3-content" style="max-width:1200px")
    .w3-display-container(style='margin-bottom:50px')
        img(src='/img/demo1.jpg' style='width:100%; height:30%')
        .w3-display-bottomleft.w3-container.w3-amber.w3-hover-orange.w3-hide-small(style='bottom:10%;opacity:0.7;width:85%')
            b
                h1 Map Annotation Project
                br
                h2
                    | We provide accurate safety score of road junctions based on frequent risky driving events.
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;Join us by viewing the existing map. Click 
                    b Continue
                    |  to view.
                    //
                        <ol>
                        <li>Watch The Video</li>
                        <li>Rate The Driver</li>
                        </ol>
    center
        if data.isLoggedIn
            a.signup(href='/navigator' name='submit') Continue
        else
            a.signup(href='/map' name='submit') Continue
        // <input type="button" name="submit" value="Continue >" class="signup"><a href="https://cse.iitkgp.ac.in/resgrp/ubinet/index.html" target="_blank"></a></center></body></input>
    //
        Second Grid: Resent
        <div class="w3-panel w3-text-grey">
        <h4>MOST RECENT WORK:</h4>
        </div>
        <div class="w3-row">
        <div class="w3-half w3-container">
        <img src="/w3images/house1.jpg" style="width:100%">
        </div>
        <div class="w3-half w3-container">
        <img src="/w3images/house_arch.jpg" style="width:100%">
        <p class="w3-xlarge w3-text-grey">
        Demos, Logos, Reports, Names, Events, Media, Wordpress, Google, Books, Optimisations</p>
        </div>
        </div>
    // Footer
    .w3-row.w3-section
        .w3-half.w3-container.w3-black.w3-large(style='height:144px')
            h2 Locate Us
            p
                a(style='text-decoration: none;' target='_blank' href='https://www.google.com/maps/place/Department+of+Computer+Science+and+Engineering/@22.3163845,87.3087226,18z/data=!4m9!1m2!2m1!1siit+kharagpur+computer+science+mobile+research+lab!3m5!1s0x3a1d44048085d96d:0x44f7d693580b9569!8m2!3d22.3178417!4d87.3091834!15sCjJpaXQga2hhcmFncHVyIGNvbXB1dGVyIHNjaWVuY2UgbW9iaWxlIHJlc2VhcmNoIGxhYlo0IjJpaXQga2hhcmFncHVyIGNvbXB1dGVyIHNjaWVuY2UgbW9iaWxlIHJlc2VhcmNoIGxhYpIBCnVuaXZlcnNpdHk')
                    i.fa.fa-map-marker.w3-hover-opacity(style='width:30px')
                    | IIT Kharagpur, India
            a(style='text-decoration: none;' target='_blank' href='#')
                // <i class="fa fa-map-marker w3-hover-opacity" style="width:30px"></i>Anywhere on Earth</p>
                //
                    <p><i class="fa fa-phone" style="width:30px"></i> </p>
                    <p><i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com</p>
        .w3-half.w3-container.w3-black.w3-large(style='height:144px')
            h2 Contact Us
            //
                <p><i class="fa fa-map-marker" style="width:30px"></i> Kharagpur, India</p>
                <p><i class="fa fa-phone" style="width:30px"></i> </p>
            p
                a(href='mailto: ' style='text-decoration: none;')
                    i.fa.fa-envelope.w3-hover-opacity(style='width:30px')  
                    |  nilesh01@iitkgp.ac.in
                    br
                    //
                        <a href="mailto: #,#" style="text-decoration: none;">
                        <i class="fa fa-envelope w3-hover-opacity" style="width:30px"> </i> abc@mail.com<br>
                        <i class="fa fa-envelope w3-hover-opacity" style="width:30px"></i>xyz@mail.com</p>
        //
            <div class="w3-third w3-center w3-large w3-dark-grey w3-text-white" style="height:250px">
            <h2>Contact Us</h2>
            <p>If you have an idea.</p>
            <p>What are you waiting for?</p>
            </div>
        //
            <div class="w3-half w3-center w3-large w3-grey w3-text-white" style="height:170px">
            <h2>Like Us</h2>
            <i class="w3-xlarge fa fa-facebook-official">hh</i><br>
        // <i class="w3-xlarge fa fa-pinterest-p"></i><br>
        // <i class="w3-xlarge fa fa-twitter"></i><br>
        // <i class="w3-xlarge fa fa-flickr"></i><br>
        //
            <i class="w3-xlarge fa fa-linkedin"></i><br>
            </div>
    .w3-container.w3-text-grey
        p.mt-5.mb-3.text-muted
            | &copy; Copyright 2023 - DriveIn by 
            a(href='https://cse.iitkgp.ac.in/resgrp/ubinet/index.html' target='_blank') UbiNet
            | , IIT Kharagpur. All
            | &#x9;&#x9;&#x9;rights reserved.
        // <p class="mt-5 mb-3 text-muted">&copy; Copyright 2023. All rights reserved.</p>
    script(src='js/bundle.js')
