doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/navigator.css')
        link(href='https://fonts.googleapis.com/css2?family=Niconne&display=swap' rel='stylesheet')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Niconne&display=swap' rel='stylesheet')
        title(id='navigator') AnnoMap
    body
        img#loader(src='/img/car.gif' style='margin-left: -10px; margin-top: -20px; height: 110vh; width: 100vw;' )
        .buttons(style='z-index:1000')
            button Update
            button View Maps
        script(src = '/js/bundle.js')
